@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'Valorant'; /* Change this to a name of your choice */
    src: url('./fonts/valo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ash'; /* Change this to a name of your choice */
  src: url('./fonts/Ash.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alata'; /* Change this to a name of your choice */
  src: url('./fonts/Alata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}